<div class="row">
    <div *ngFor="let song of songsList" class="card mt-3 mb-3 border-success" style="max-width: 50%;">
        <div class="row">
          <div class="col-md-2">
            <img [src]="song.album.images | noimage" class="img-fluid rounded-start mt-2 img-thumb" alt="...">
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <div class="col card-text">
                {{song.name}} - 
                <br>
                <span class="badge bg-dark">{{song.album.name}}</span>
              </div>
              <div class="col">
                <!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{song.id}}?utm_source=generator&theme=0" 
                width="80%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div> -->
              
            </div>
          </div>
        </div>
      </div>
</div>

